################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/demo/WinSocketConsole/.vs/WinSocketConsole/v16
